.container {
    padding: 2rem 0rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background: #000;
    color: #fff;
   
    img {
        filter: saturate(30%);
    }
}

.text {
    max-width: 600px;
    padding: 1rem;
}

.placeholders {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 5px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap: 5px;
    }

    span {
        color: #4bffa5;
    }
}

.white {
    color: #fff !important;
}

@media screen and (min-width:1000px) {
    .container {
        flex-direction: row ;
        align-items: flex-start;
        text-align: unset;
        div {
            align-items: unset;
        justify-content: unset;
        }
    }
    .placeholders {
        flex-direction: row;
        gap: 50px;
    }
}