

.container {
   
    
    
    min-height:800px;
    color: #fff;
    padding: 2rem;
    gap: 20px;
    

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
        gap: 20px;
    }

    .categories {
        
        display: flex;
        gap: 20px;
        cursor: pointer;
    }
    .flex {
        flex-grow: 1;
        height: 200px;
        cursor: pointer;
        transition: 0.3s;
        text-align: center;
        border: rgba(255, 255, 255, 0.20) solid 1px;
        padding: 2rem;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    
    }

  
    


    i {
        font-size: 3rem;
        color: #4bffa5;
    }
    p {
        font-size: 1rem;
        max-height: 100px;
        padding: 1rem 0;
    }
    h1 {
        flex-basis: 100%;
        max-height: 100px;
    }
}



//Hover effects
.flex:hover {
    opacity: 50%;
}

@media screen and (min-width:800px) {
    .container {
        padding: 2rem 0rem;
        height:600px;
        overflow: auto;
    }

    .wrapper {
        grid-template-columns: 1fr 1fr !important; 
    }
   .flex {
   
    

   }
}


//Active class
